/* All inhalt */
body > main article > header > h1 {
  font-size: 1.2em;
  line-height: 1em;
  padding-top: 0;
  margin-top: 0;
  font-weight: 600;
  letter-spacing: 2px;
  color: #7A0901;
}
body > main > section > header > h1 { /* Überschrift für sektion (z.B. Die beiden letzten Artikel) */
  font-size: 1em;
  letter-spacing: 0.05em;
  font-weight: 400;
  color: grey;
  margin-top: 2em;
}
body > main > section > footer {
  clear: both;
}
/* Erste Sektion */
body > main > section:first-of-type {
  padding-top: 2em;
  background-color: rgba(242, 242, 242, 1);
}
body > main > section:first-of-type > article > * {
  margin-left: 2em;
  margin-right: 2em;
}
body > main > section:first-of-type > article > dl > dd {
  margin-left: 0;
}
body > main > section:first-of-type > article > header > h1 {
  color: rgba(122, 5, 5, 1);
  font-weight: 700;

}
body > main > section:first-of-type > article > dl > dd:not(:last-of-type) {
  margin-bottom: 0.6em;
}
body > main > section:first-of-type > article > dl > dt {
  font-weight: 600;
}
/* Zweite Sektion */
body > main > section:last-of-type > article > * {
  display: none;
}
body > main > section:last-of-type > article > header,
body > main > section:last-of-type > article > footer,
body > main > section:last-of-type > article > *:nth-child(2),
body > main > section:last-of-type > article > *:nth-child(3),
body > main > section:last-of-type > article > *:nth-child(4) {
  display: block;
}
body > main > section:last-of-type > article > header > h1 {
  color: rgba(4, 86, 4, 1);
  line-height: 1.6em;
  font-size: 1.8em;
  font-weight: 600;
  letter-spacing: 0.01em;
  margin-bottom: -0.4em;
}
body > main > section:last-of-type > article > header > p {
font-size: 0.8em;
padding-bottom: 0.5em;
}
/* Background Picture */
body > main > header {
  background-image: url(/img/bannerFrontpage.png);
  background-position:left center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 10em;
  margin-bottom: 3em;
  position: relative;
}
/* headline: EGMONT MIKA */
body > main > header > h1 {
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  line-height: 0em;
  position: absolute;
  bottom: 1.2em;
  text-align: center;
  font-size: 2.0em;
  letter-spacing: 10px;
  left: 2em;
  width: inherit;
}
/* Subheadline: Nachfolge, Gemeinschaft, Auftrag */
body > main > header > h2 {
  color: #FCFAFA;
  font-size: 1.2s;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-align: right;
  position: absolute;
  top: 1.4em;
  right: 4em;
}
body > main > header {
  background-size: auto auto;
  max-width: 100%;
  height: 28em;
  background-color: black;
}
/* Green button */
body > main > nav:nth-of-type(2) > p {
  position: relative;
  left: 10%;
  margin-top: 2.6em;
  margin-bottom: 3em;
}
body > main > nav:nth-of-type(2) > p {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 600;
}
body > main > nav:nth-of-type(2) > p > a {
  background-color: rgba(5, 155, 5, 1);
  color: white;
  letter-spacing: 0.3em;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1.8em;
  padding-right: 1.8em;
  border-style: solid;
  border-width: 1.6px;
  border-color: rgba(1, 129, 21, 1);
  border-radius: 2em;
  box-shadow: 0.0em 0.2em 0.4em #aaa;
}
/**********************************
 * Nur über 40em, 2 und 3 spalten *
 **********************************/
@media only screen and (min-width: 40em) {
  body > main > section:first-of-type > article {
    width: 40%;
    float: left;
    font-size: 0.9em;
    height: 25em;
  }

  body > main > section:first-of-type > article:first-of-type,
  body > main > section:first-of-type > article:last-of-type {
    width: 30%;
  }

  body > main > section:first-of-type > article:nth-of-type(2) > * {
    margin-right: 0em;
    margin-left: 0em;
  }
  body > main > section {
    clear: both;
  }
  /* Two colums - Short form of articles */
  body > main > section:last-of-type > article {
    width: 50%;
    float: left;
    font-size: 0.9em;
}
  body > main > section:last-of-type > article:first-of-type > * {
    margin-right: 1.6em;
  }
  body > main > section:last-of-type > article:last-of-type > * {
    margin-left: 1.6em;

  }
  }
