<!DOCTYPE html>
<html lang="de">
<head>
  <title>Egmont Mika (de)</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js></script>
  <![endif]-->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/general.css">
  <link rel="stylesheet" href="/css/frontpage.css">
  <link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon">
</head>
<body>
<main>
  <nav>
    {{ template "partials/mainMenu.html" .Site.Menus.main }}
  </nav>
  <header>
    <h1>Egmont Mika</h1>
    <h2>Discipleship<br>Community<br>Mission</h2>
  </header>
  <nav>
    <p><a href="/blog/">Blog</a></p>
  </nav>
  <section>
    <header></header>
    <article>
      <header><h1>About me</h1></header>
      <dl>
        <dt>Wohnort</dt><dd>Uppsala, Schweden</dd>
        <dt>Familie</dt><dd>Ehefrau Åsa Mika, fünf Kinder, sechs Enkelkinder</dd>
        <dt>Beruf</dt><dd>Kunsterzieher und Deutschlehrer in Uppsala, Schweden</dd>
        <dt>Nachfolge Jesu</dt><dd>Jünger, Mentor, Leiter einer Hausgemeinde</dd>
      </dl>
      <footer><p><a href="/about/">More</a></p></footer>
    </article>
    <article>
      <header><h1>My Theme</h1></header>
      <p>Ich schreibe zum Thema Jesus-Nachfolge, Jünger-Gemeinschaft und Auftrag. Dabei leiten mich folgende Fragen:</p>
    <p>1) Wie waren Nachfolge Jesu, Gemeinschaft der Jünger und Jesu Auftrag ursprünglich gedacht?</p>
    <p>2) Wie lässt sich dies alles heute, angesichts eingeschliffener Denk- und Verhaltensmuster, kirchlicher Traditionen und kultureller Trends, glaubwürdig und authentisch verwirklichen?</p>
      <footer><p><a href="/blog/">Blog</a></p></footer>
    </article>
    <article>
      <header><h1>Contact</h1></header>
      <p>Hast du Gedanken oder Fragen zu meinem Thema oder zu einem meiner Artikel? Oder möchtest du dich mit jemandem austauschen?</p>
      <p>Dann schick mir doch eine Mail.</p>
    <p>Ich antworte in der Regel noch am gleichen Tag, auf alle Fälle aber am nächsten.</p>
      <footer><p><a href="/contact/">More</a></p></footer>
    </article>
    <footer>
    </footer>
  </section>
  <section>
    <header><h1>Recent articles</h1></header>
    {{ range first 2 .Site.Sections.blog.Pages.ByDate.Reverse }}
      <article>
        <header>
          <h1><a href='{{ .Permalink }}'>{{ .Title }}</a></h1>
          <p><time>{{ .Date.Format "2006/01/02" }}</time>&nbsp;&nbsp;{{ .FuzzyWordCount }} words</p>
        </header>
        {{ .Content }}
        <footer><p><a href='{{ .Permalink }}'>More</a><p></footer>
      </article>
    {{ end }}
    </footer>
  </section>
  <footer>
    <p>&copy; 2014 Egmont Mika</p>
  </footer>
</main>
{{ template "partials/analytics.html" . }}
</body>
</html>
